<a href="https://colab.research.google.com/github/marcela-medeiros/exerc-geekacademy/blob/main/Geek_Academy_exerc%C3%ADcios_Sec_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Resoluções dos exercícios da Geek University - Seção 4.**
Disponível em: [Geek Academy](https://www.udemy.com/course/curso-de-programacao-em-python-do-basico-ao-avancado/)

1.

In [ ]:
num = int(input('Digite um número inteiro:'))
print(num)

Digite um número inteiro:90
90

2.

In [ ]:
num = float(input('Digite um número real:'))
print (num)

Digite um número real:5.5
5.5

3.

In [ ]:
one = int(input("Digite um número  "))
two = int (input("Digite outro número  "))
three = int(input("Digite um último número  "))

sum = one + two + three

print (sum)

Digite um número  42
Digite outro número  11
Digite um último número  99
152

4.

In [ ]:
num = int(input('Digite um número:  '))
power = num**2

print(power)

Digite um número:  10
100

5.

In [ ]:
num = float (input(" Digite um número:   "  ))
quinta = num/5

print(quinta)

 Digite um número:   95
19.0

6.

In [ ]:
tCelsius = float (input("Insira a temperatura em graus Celsius:   "))
tFarenheit = tCelsius*(9.0/5.0)+32

print("A temperatura em graus Farenheit é:   ", tFarenheit)

Insira a temperatura em graus Celsius:   39.5
A temperatura em graus Farenheit é:    103.10000000000001

7.

In [ ]:
tFarenheit = float(input(" Insira. e temperatura em graus Farenheit:  "))
tCelsius = 5.0*(tFarenheit-32.0)/9.0

print("A temperatura em graus Celsius é:   ", tCelsius)

 Insira. e temperatura em graus Farenheit:  103.1
A temperatura em graus Celsius é:    39.5

8.

In [ ]:
tKelvin = float(input("Insira a temperatura em graus Kelvin:  "))
tCelsius = tKelvin - 273.15

print("A temperatura em graus Celsius é:  ", tCelsius)

Insira a temperatura em graus Kelvin:  300.15
A temperatura em graus Celsius é:   27.0

9.

In [ ]:
tCelsius = float(input("Insira a temperatura em graus Celsius:  "))
tKelvin = tCelsius + 273.15

print("A temperatura em graus Kelvin é:  ", tKelvin)

Insira a temperatura em graus Celsius:  27
A temperatura em graus Kelvin é:   300.15

10.

In [ ]:
km= float(input("Insira a velocidade em kilometros:  "))
metros = km/3.6

print ("A velocidade em metros por segundo é:",metros)

Insira a velocidade em kilometros:  85.9
A velocidade em metros por segundo é: 23.86111111111111

11.

In [ ]:
metros = float(input("Insira a velocidade em metros por segundo:  "))
km = metros * 3.6

print(km)

Insira a velocidade em metros por segundo:  90.4
325.44000000000005

12.

In [ ]:
milhas = float(input("Insira a distância em milhas:  "))
quilometros = 1.61 * milhas

print ("O valor em kilometros corresponde a:", quilometros)

Insira a distância em milhas:  70.99
O valor em kilometros corresponde a: 114.2939

13.

14.

37.

In [ ]:
prod = float(input("Informe o valor do produto em reais:  "))
desc = prod -  (prod*0.12)

print("O valor do produto com desconto é de:   ", desc)

Informe o valor do produto em reais:  80
O valor do produto com desconto é de:    70.4

38.

In [ ]:
funcionario = input("Nome do funcionário:  ")
salario = float(input("Informe o valor do salário   "))
aumento = salario + (salario * 0.25)
print ("Bem - vindo ao Sigstaff,",funcionario, "!", "O valor da sua remuneração é: ", aumento)

Nome do funcionário:  Isaac Hanson
Informe o valor do salário   6500
Bem - vindo ao Sigstaff, Isaac Hanson ! O valor da sua remuneração é:  8125.0

39.

In [ ]:
premio = 780000
concurso = "O prêmio final do concurso, no valor de", "R$", premio, "será dividido entre os seguintes ganhadores:"
gan1 = premio * 0.46
gan2 = (premio - gan1) * 0.32
gan3 = premio - gan1 - gan2

print(f"O primeiro ganhador levará um prêmio de R$ {gan1: ,.2f}")
print (f"O segundo ganhador levará um prêmio de R$ {gan2: ,.2f}")
print (f"O terceiro ganhador levará um prêmio de R${gan3: ,.2f}")

O primeiro ganhador levará um prêmio de R$  358,800.00
O segundo ganhador levará um prêmio de R$  134,784.00
O terceiro ganhador levará um prêmio de R$ 286,416.00